openapi: 3.0.3
info:
  title: API de Produtos
  description: "API para um ecommerce que é baseado no Mercado Livre ou semelhantes que será um projeto construído em partes, ou seja, teremos alguns projetos que se conectam e em conjunto, fazem o Ecomm funcionar."
  version: 0.0.1
  termsOfService: https://alura.com.br
  contact:
    name: Suporte a Dev
    email: paula@example.com
    url: https://github.com/paulaberguem/ecomm
  license:
    name: Alura
    url: https://alura.com.br
externalDocs:
  description: Documentação do trello
  url: https://trello.com/b/tu2nh5N3/semana-5-alura
servers:
- url: https://teste.com
  description: API - ecomm
paths:
  /categories:
    get:
      tags:
        - categorias
      summary: Recupera todas as categorias
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/categorias"
  /categories/{id}:
    parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
    get:
      tags:
        - categorias
      summary: Recupera uma categoria pelo ID
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/categoria"
        404:
          description: Categoria não encontrada
          content:
            application/json:
              example: "Not Found :("
  /products:
    get:
      tags:
        - produtos
      summary: Recupera todos os produtos
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/produtos" 
  /products/{id}:
    parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
    get:
      tags:
        - produtos
      summary: Recupera um produto pelo ID
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/produto"
        404:
          description: Produto não encontrado
          content:
            application/json:
              example: "Not Found :("
  /admin/categories:
    post:
      tags:
        - admin
      summary: Cadastra nova categoria
      description: Apenas admin pode ter acesso a esse endpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
             type: object
             properties:
              nome:
               type: string
      responses:
        201: 
          description: Categoria criada com sucesso
          content:
           application/json:
            schema:
             $ref: "#/components/schemas/categoria"
        401:
          description: Acesso Negado
          content:
            application/json:
              example: "Unauthorized"
      security:
        - auth: []
  /admin/categories/{id}:
    parameters: 
    - name: id
      in: path
      schema: 
        type: string
      required: true
    put:
      tags:
      - admin
      summary: Altera dados de uma determinada categoria
      responses: 
        201:
          description: Sucesso na alteração
          content:
            aplication/json:
              schema: 
                $ref: '#/components/schemas/categoria'
        401:
          description: Acesso Negado
          content: 
            aplication/json:
              example: "Unauthorized"
        404:
          description: Página não encontrada
          content:
            application/json:
              example: "Not Found :("
      security:
        - auth: []
    delete:
      tags:
      - admin
      summary: Exclui determinada categoria
      responses: 
        200:
          description: Excluído com sucesso
          content:
            aplication/json:
              example: "Deleted"
        401:
          description: Acesso Negado
          content: 
            aplication/json:
              example: "Unauthorized"
        404:
          description: Página não encontrada
          content:
            application/json:
              example: "Not Found :("
      security:
        - auth: []
    patch:
      tags:
      - admin
      summary: Altera o status de uma categoria
      responses: 
        201:
          description: Sucesso na alteração
          content:
            aplication/json:
              schema: 
                $ref: '#/components/schemas/categoria'
        401:
          description: Acesso Negado
          content: 
            aplication/json:
              example: "Unauthorized"
        404:
          description: Página não encontrada
          content:
            application/json:
              example: "Not Found :("
      security:
        - auth: []
  /admin/products:
    post:
      tags:
        - admin
      summary: Cadastra novo produto
      description: Apenas admin pode ter acesso a esse endpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
             type: object
             properties:
              nome:
                type: string
              descricao:
                type: string
              slug:
                type: string
              precoUnitario:
                type: number
              estoque:
                type: integer
              categoria:
                type: string
      responses:
        201: 
          description: Produto cadastrado com sucesso
          content:
           application/json:
            schema:
             $ref: "#/components/schemas/produto"
        401:
          description: Acesso Negado
          content:
            application/json:
              example: "Unauthorized"
      security:
        - auth: []
  /admin/products/{id}:
    parameters: 
    - name: id
      in: path
      schema: 
        type: string
      required: true
    put:
      tags:
      - admin
      summary: Altera dados de um determinado produto
      responses: 
        201:
          description: Sucesso na alteração
          content:
            aplication/json:
              schema: 
                $ref: '#/components/schemas/produto'
        401:
          description: Acesso Negado
          content: 
            aplication/json:
              example: "Unauthorized"
        404:
          description: Página não encontrada
          content:
            application/json:
              example: "Not Found :("
      security:
        - auth: []
    delete:
      tags:
      - admin
      summary: Exclui determinado produto
      responses: 
        200:
          description: Excluído com sucesso
          content:
            aplication/json:
              example: "Deleted"
        401:
          description: Acesso Negado
          content: 
            aplication/json:
              example: "Unauthorized"
        404:
          description: Página não encontrada
          content:
            application/json:
              example: "Not Found :("
      security:
        - auth: []
components:
  schemas:
    categoria:
      type: object
      properties:
        id:
          type: string
        nome:
          type: string
        status:
          type: boolean 
    categorias:
      type: array
      items:
        $ref: "#/components/schemas/categoria"
    produto:
      type: object
      properties:
        id:
          type: string
        nome:
          type: string
        descricao:
          type: string
        slug:
          type: string
        precoUnitario:
          type: number
        estoque:
          type: integer
        categoria:
          type: string
    produtos:
      type: array
      items:
        $ref: "#/components/schemas/produto"
  securitySchemes:
    auth:
      type: http
      scheme: bearer
      bearerFormat: JWT